body{
  background-color: #161616;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

p{ 
  padding:0px; 
  margin:0px; 
} 

a {
  font-size: 28px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

#inicial{
  color: white;
  font-size: 30px;
  height: 100vh;  
}

#container_inicial{
  width: 85vw; 
}

#header_desktop{ 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;    
  height: 10vh;
  transition: 0.4s
}


#logo_menu{
  width: auto;
  cursor: pointer;
}

.btn{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-family:"Poppins", sans-serif;
  background-color: transparent;
  color: white;
  padding: 10px;
  border: 0;    
}

.btn_fundo{
  font-size: 18px;
  font-weight: 400;
  font-family:"Poppins", sans-serif;
  text-transform: uppercase;
  color: #161616;
  background-color: #04d4fc;
  border-radius: 40px 40px 40px 40px;
  padding: 10px 20px;
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.2, 1);
  border: 0;  
  margin: 0px 5px;
}

.btn:hover{
  color: #04d4fc;
  transition: 0.4s;
  cursor: pointer;
}

.btn_fundo:hover{
  color: #161616;
  transform: translate3d(0px, -4px, 0);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.2, 1);  
}

#container_inicial_inferior {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
  height: 75vh;
  transition: 1s;
  line-height: 1;
  transform: translateY(18px);
}

#paragrafo_inicial {  
  width: 45vw;
  font-size: 60px;    
  font-weight: 600;   
}

#p1 {
  color: #04d4fc;
  font-weight: 400;
  font-size: 38px;  
  margin-bottom: 10px;
}

#container_inicial_inferior button{
  margin-top: 60px;
  font-size: 22px;
  font-weight: 500;
}

#container_inicial_inferior img {
  height: auto;
  max-height: 550px;
}

#sobre_mim{
  background-color: #04d4fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  height: 150vh;
  font-size: 30px;  
  width: 100%;
  color: #161616;
}

#sobre_mim h1, #sobre_mim h2, #sobre_mim h3, #sobre_mim p, #sobre_mim a {
  color: #161616; 
}

#wrapped_sobre_mim{
  height: 120vh;
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

#container_sobre_mim{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: start;    
}

#container_sobre_mim img {
  margin: 18px 0px;
  max-width: 400px;
  width: auto;  
  transition: transform 1s, width 1s, border-radius 1s;
  line-height: 1;
  border-radius: 400px;
}

#container_sobre_mim img:hover {
  transform: translateY(-18px); 
}


#p_sobre_mim{  
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;  
  width: 60%;  
}

#formacao{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 130vh;
}

#formacao a, h3, h2{
  color: white;  
}

#formacao h3{
  color: #04d4fc;
  border-radius: 15px;
  margin: 5px 0px;  
  font-weight: 400;
}

#formacao_title{
  color: #04d4fc;  
  margin: 5px 0px;
}

#wrapped_formacao{  
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.formacao_cards {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 60px;
}

#wrapped_formacao div:not(.formacao_icon_title){
  display: flex;
  flex-direction: column;
  align-items: start;  
  
}

#wrapped_formacao img {
  border-radius: 15px;
  width: 60px;
  height: 60px;
  margin: 0px 10px 0px 0px;
}

.formacao_icon_title {
  display: flex;
  flex-direction: row;  
  align-items: center;
  gap: 15px;
}



@media (max-width: 1049px) {
  #header_desktop{
    display: none;
  }
  
  #header_mobile {
    margin: 15px 0px;    
    height: 10vh;
  }
  
  .container_header_mobile {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }

  #menu_mobile{
    display: none;
    flex-direction: column;
    width: 100%;
  }

}

@media (min-width: 1050px) {
  #header_mobile{
    display: none;
  }
}