body{
  background-color: #161616;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{ 
   padding:0px; 
   margin:0px; 
} 

#inicial{
  color: white;
  font-size: 30px;
  height: 100vh;
  
}

#header{ 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;    
  height: 10vh;
  transition: 0.4s
}


#logo_menu{
  width: auto;
  cursor: pointer;
}

.btn {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-family:"Poppins", sans-serif;
  background-color: transparent;
  color: white;
  padding: 10px;
  border: 0;  
  
}

.btn_fundo{
  font-size: 18px;
  font-weight: 400;
  font-family:"Poppins", sans-serif;
  text-transform: uppercase;
  color: #161616;
  background-color: #04d4fc;
  border-radius: 40px 40px 40px 40px;
  padding: 10px 20px;
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.2, 1);
  border: 0;  
  margin: 0px 5px;
}

.btn:hover{
  color: #04d4fc;
  transition: 0.4s;
  cursor: pointer;

  
}

.btn_fundo:hover{
  color: #161616;
  transform: translate3d(0px, -4px, 0);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.2, 1);  
}

#container_inicial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
  height: 75vh;
  transition: 1s;
  line-height: 1;
  transform: translateY(18px);
}

#paragrafo_inicial {  
  width: 45%;
  font-size: 48px;    
  font-weight: 600;     
}

#p1 {
  color: #04d4fc;
  font-weight: 400;
  font-size: 38px;  
}

#btn_pg_inicial{
  margin-top: 60px;
}

#foto_perfil {
  height: 400px;
}